<div class='users-index-wrapper'>
  <ul class="users-list">
    <% 8.times do %>
      <li class="user">
        <div class='user-image'>
        </div>
        <p class='user-nickname'>
          <%= "ニックネーム" %>
        </p>
        <p class="first-language">
          <%= "日本語" %>
        </p>
      </li>
    <% end %>
  </ul>
</div>