<footer>
  <div class='footer-menu'>
    <div class='search footer-menu-content'>
      <a href="#">
        <i class="fas fa-search"></i>
        <p>Search</p>
      </a>
    </div>
    <div class='community footer-menu-content'>
      <a href="#">
        <i class="fas fa-users"></i>
        <p>Community</p>
      </a>
    </div>
    <div class='like footer-menu-content'>
      <a href="#">
        <i class="far fa-heart"></i>
        <p>Like</p>
      </a>
    </div>
    <div class='message footer-menu-content'>
      <a href="#">
        <i class="far fa-comments"></i>
        <p>Message</p>
      </a>
    </div>
    <div class='profile footer-menu-content'>
      <a href="#">
        <i class="far fa-user-circle"></i>
        <p>Profile</p>
      </a>
    </div>
  </div>
</footer>